<template>
  <div class="search-page__container">
    <back-btn class="search-page__go-back button button--green"></back-btn>
    <div class="search-page__header">
      <h2 class="search-page__title">
        Search for some cats! 🐈
      </h2>

      <div class="search-page__form">
        <b-form-input
          v-model="query"
          size="sm"
          class="search-page__query"
          placeholder="kitty breed"
          @input="searchCats"
        >
        </b-form-input>

        <b-form-select
          v-model="orderby"
          size="sm"
          placeholder="Order By"
          class="search-page__orderby"
          :options="options"
        >
          <template v-slot:first>
            <option :value="null" disabled>
              Order By
            </option>
          </template>
        </b-form-select>
      </div>

      <div v-if="loading" class="search-page__spinner">
        <spinner />
      </div>

      <b-card-group
        v-if="!loading"
        columns
        class="search-page__results-container"
      >
        <b-card
          v-for="(breed, index) in sortedResults"
          :key="index"
          no-body
          bg-variant="dark"
          text-variant="white"
          tag="article"
          style="max-width: 20rem;"
          class="search-page__result-card mb-4"
        >
          <b-card-header>{{ breed.name }}</b-card-header>
          <b-card-img-lazy
            top
            :src="breed.image"
            class="search-page__result-image"
            alt="Image"
            height="220"
          ></b-card-img-lazy>
          <b-card-body>
            <b-card-text>
              {{ breed.description }}
            </b-card-text>
          </b-card-body>
        </b-card>
      </b-card-group>
    </div>
  </div>
</template>

<script>
import Spinner from '~/components/Spinner'
import BackBtn from '~/components/BackBtn'
import { debounce, sortBy } from '~/utils'

export default {
  components: { spinner: Spinner, 'back-btn': BackBtn },
  data() {
    return {
      query: '',
      options: [
        { value: 'asc', text: 'AZ Asc' },
        { value: 'desc', text: 'AZ desc' },
      ],
      orderby: null,
      results: [],
      loading: false,
    }
  },
  computed: {
    sortedResults() {
      if (!this.orderby) return this.results

      const sorted = sortBy(this.results, 'name')

      if (this.orderby === 'asc') return sorted
      return sorted.reverse()
    },
  },
  created() {
    this.searchCats = debounce(this.searchCats, 300)
  },
  methods: {
    searchCats: function getSomeCats(value) {
      this.loading = true
      const endpoint = this.query
        ? `https://api.thecatapi.com/v1/breeds/search?q=${this.query}`
        : 'https://api.thecatapi.com/v1/breeds?limit=9'

      const config = {
        headers: {
          'x-api-key': process.env.CAT_API_KEY,
        },
      }

      this.$axios
        .get(endpoint, config)
        .then(async ({ data }) => {
          const results = await Promise.all(
            data.map(async (el) => {
              const image = await this.$axios
                .get(
                  `https://api.thecatapi.com/v1/images/search?limit=1&breed_id=${el.id}`,
                  config
                )
                .then(({ data }) => data[0].url)
                .catch((e) => {
                  return 'https://placekitten.com/400/300'
                })

              el.image = image

              return el
            })
          )

          this.loading = false
          this.results = results
        })
        .catch((e) => {
          this.loading = false
        })
    },
  },
}
</script>

<style lang="scss" scoped>
@mixin flexify {
  display: flex;
  flex-flow: column;
}

.search-page {
  &__container {
    @include flexify;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
  }

  &__go-back.button {
    position: absolute;
    left: 5%;
    top: 5%;
    margin: 0;
    background: transparent;
  }

  &__title {
    width: 50%;
    margin: 0 auto 40px;
    text-align: center;
    color: white;
  }

  &__form {
    @include flexify;
    height: 80px;
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: center;
  }

  &__query,
  &__orderby {
    max-width: 400px;
  }

  &__spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  &__results-container {
    flex-wrap: wrap;
  }

  &__result-card {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    width: 320px;

    .card-header {
      font-family: 'Amatic SC', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'Helvetica Neue', Arial, sans-serif;
      font-weight: 600;
      font-size: 1.5rem;
    }
  }

  @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
}
</style>
