<template>
  <div class="container">
    <div>
      <back-home class="home-btn" />
      <h1 class="title">
        Demos
      </h1>
      <p class="button-container">
        <NLink to="/demos/panel-zoom" class="button button--green">
          Panel zoom
        </NLink>
        <NLink to="/demos/popover" class="button button--green">
          Popover
        </NLink>
        <NLink to="/demos/cat-search" class="button button--green">
          Cat Search
        </NLink>
      </p>
    </div>
  </div>
</template>

<script>
import BackHomeBtn from '~/components/BackHomeBtn.vue'

export default {
  components: { 'back-home': BackHomeBtn },
}
</script>

<style lang="scss" scoped>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  color: #fff;
  margin-bottom: 20px;
}

.button {
  &:first-of-type {
    margin: 0;
  }
}

.home-btn {
  position: absolute;
  top: 5%;
  left: 5%;

  .button {
    margin: 0;
  }
}
</style>
