<template>
  <div class="main__container" @wheel="logger">
    <div class="main__content">
      <back-btn class="main__go-back button button--grey"></back-btn>
      <h1 class="main__title" @click.self="toggleFullScreen">
        Click here!
      </h1>
      <div class="cover__container">
        <a class="button button--grey" @click.self="toggleFullScreen">
          Go back
        </a>
        <h1 class="cover__header">Test</h1>
      </div>
    </div>
  </div>
</template>

<script>
import { throttle } from '~/utils'
import BackBtn from '~/components/BackBtn'

export default {
  components: { 'back-btn': BackBtn },
  data() {
    return {
      jojoto: true,
    }
  },
  created() {
    this.logger = throttle(this.logger, 300)
  },
  methods: {
    toggleFullScreen(open) {
      document
        .querySelector('.cover__container')
        .classList[typeof open === 'boolean' ? 'add' : 'toggle'](
          'cover__container--fullscreen'
        )
    },

    logger() {
      this.toggleFullScreen(true)
    },
  },
}
</script>

<style lang="scss" scoped>
$red: darkred;
$black: #0f0f0f;

.main {
  &__container {
    height: 100vh;
    width: 90vw;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: $red;
  }

  &__go-back {
    position: absolute;
    left: 5%;
    top: 5%;
    margin: 0;
    color: $red;
    background: $black;
    border: 1px solid $red;

    &.button:hover {
      color: $black;
      background: $red;
    }
  }

  &__content {
    z-index: 999;
    overflow: hidden;
  }

  &__video {
    z-index: 998;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    top: -30%;
    left: 0;
    height: 160vh;
    width: 120vw;
    pointer-events: none;
    animation: fadeInVideo 2s 2s forwards ease-in-out;
  }
}

.cover {
  &__container {
    background: $red;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 0px;
    height: 0px;
    top: 50%;
    left: 10%;
    color: $black;
    transition: all 0.2s ease-in-out;

    &--fullscreen {
      width: 100vw;
      height: 100vh;
      z-index: 1000;
      top: 0;
      left: 0;
    }

    .button {
      position: absolute;
      top: 5%;
      left: 5%;
      border: $black 1px solid;

      &:hover {
        background: $black;
        color: $red;
      }
    }
  }
}

@keyframes fadeInVideo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}
</style>
