<template>
  <div class="popover-demo__container">
    <back-btn class="popover-demo__go-back button button--green"></back-btn>
    <popover-btn
      v-for="item in listOfStuff"
      :id="'popover-' + item"
      :key="item"
      :button-label="item"
      :loaded="loaded"
      :data="popoverData"
      :on-hide="clearPopoverData"
      :click-handler="getPopoverData"
      class="popover-item"
    />
  </div>
</template>

<script>
import ax from 'axios'
import PopoverBtn from '~/components/PopoverBtn'
import BackBtn from '~/components/BackBtn'

export default {
  components: { 'popover-btn': PopoverBtn, 'back-btn': BackBtn },

  data() {
    return {
      showing: '',
      loaded: false,
      popoverData: {},
      listOfStuff: ['Number-1', 'Number-2', 'Number-3'],
    }
  },

  methods: {
    // This still fails when clicking another button without closing the firstone.
    async getPopoverData(id) {
      if (this.showing !== id) {
        this.clearPopoverData()
        this.showing = id
        const { data: popData } = await ax.get(`/api/popover/${id}`)
        this.popoverData = popData
        this.loaded = true
      }
    },

    clearPopoverData() {
      this.showing = ''
      this.loaded = false
      this.popoverData = {}
    },
  },
}
</script>

<style lang="scss" scoped>
.popover-demo {
  &__go-back.button {
    position: absolute;
    left: 5%;
    top: 5%;
    margin: 0;
    background: transparent;
  }

  &__container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
}
</style>
