<template>
  <div class="JojotoLogo">
    <object type="image/svg+xml" data="/svg/jojoto.svg" class="logo">
      JojotoLogo
    </object>
  </div>
</template>

<style>
.JojotoLogo {
  display: inline-block;
  animation: turn 2s linear forwards 1s;
  opacity: 0;
  position: relative;
  overflow: hidden;
  height: 245px;
  width: 245px;
}

@keyframes turn {
  100% {
    opacity: 1;
    transform: rotateY(180deg);
  }
}
</style>
