<template>
  <div class="popover-btn popover-btn__container">
    <b-button
      :id="'popover-btn-target-' + id"
      class="popover-btn__button button button--green"
    >
      {{ buttonLabel }}
    </b-button>

    <b-popover
      :target="'popover-btn-target-' + id"
      triggers="focus"
      placement="top"
      @show="clickHandler(id)"
      @hidden="onHide"
    >
      <div v-show="!loaded" class="popover__loading">Loading...</div>

      <template v-show="loaded" v-slot:title>
        {{ data.title || 'This is a title' }}
      </template>

      <div v-show="loaded" class="popover__content">
        {{ data.text }}
        <span class="popover__content--id"> {{ data.id }} </span>
      </div>
    </b-popover>
  </div>
</template>

<script>
export default {
  props: {
    buttonLabel: { type: String, default: 'Click me!' },
    data: { type: Object, default: () => ({}) },
    loaded: Boolean,
    onHide: { type: Function, default: Function.prototype },
    clickHandler: { type: Function, default: Function.prototype },
    id: { type: String, required: true },
  },
}
</script>

<style lang="scss">
.popover-btn {
  &__go-back.button {
    position: absolute;
    left: 5%;
    top: 5%;
    margin: 0;
    background: transparent;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    background: none;
  }
}

.popover {
  &__content--id {
    font-weight: 600;
    font-size: 24px;
    color: limegreen;
  }
}
</style>
