<template>
  <section class="container">
    <div>
      <logo />
      <h2 class="title">
        JojotoPlayground
      </h2>
      <div class="links">
        <NLink to="/jojoto" class="links__button button--green">Jojoto</NLink>
        <NLink to="/demos" class="links__button button--green">Demos</NLink>
        <a href="/api/ping" target="_blank" class="links__button button--green">
          Ping
        </a>
      </div>
    </div>
    <div class="red"></div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo,
  },
}
</script>

<style lang="scss" scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Amatic SC', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 15vw;
  color: #0ec256;
  letter-spacing: 1px;

  @media screen and (min-width: 768px) {
    font-size: 100px;
  }
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;

  &__button {
    margin-bottom: 15px;
    color: $base-green;

    &:hover {
      text-decoration: none !important;
    }
  }
}
</style>
