<template>
  <div class="container">
    <div>
      <h1 class="title">
        Have some 🌽 served from the
        <span class="name"> {{ name }} </span>.
      </h1>
      <back-home />
    </div>
  </div>
</template>

<script>
import BackHomeBtn from '~/components/BackHomeBtn.vue'

export default {
  components: { 'back-home': BackHomeBtn },
  asyncData() {
    return {
      name: process.server ? 'server' : 'client',
    }
  },
}
</script>

<style lang="scss" scoped>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-weight: 400;
  color: #ffffff;
}

.name {
  color: #00c48d;
}

.button-container {
  margin-top: 20px;
}
</style>
